.box{
  width: 100%;
  margin: 0 auto;
  height: 500px;
  display: block;
  position: relative;
 
}

.box img{
 width: 100%;
 margin: 0 auto;
 display: block;
 height: 500px;
}
.box h3{
  color: rgb(224, 49, 49);
  font-size: 50px;
  margin: 0;
  padding:0;
  position:absolute;
  transform: translate(-50%, -50%);
  top:50%;
 left: 50%;
 
}

.box .h3{
  color: rgb(224, 49, 49);
  font-size: 50px;
  margin: 0;
  padding:0;
  position:absolute;
  transform: translate(-50%, -50%);
  top:50%;
 left: 50%;
 
}

.carousel-dots{
  font-size: 40px;
  color: green;
}





